<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cruddly - The worlds worst address book</title>
</head>
<style>
  .quote > span:first-child {
    font-weight: bold;
  }
  .quote > span:nth-child(2) {
    color: red;
  }
  .quote > span:last-child {
    color: blue;
  }
</style>
<body>
  <h2>CRUDDLY - just add friends (or foes, it's all the same)</h2>

  <ul class="bay">
  <%var count = 0%>
  <% for(var i=0; i<bay.length; i++) { %>
    <% count += 1 %>
    <li class="quote">
      <span><%= bay[i] %></span>
      <span><%= bay[i].trolley %></span>
      <span><%= bay[i].in %></span>
      <span><%= bay[i].out %></span>
    </li>
  <% } %>
  </ul>
  <% count = bay %>

</body>
</html>
